<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ApplicantMapper">
    <select id="findApplicantByProjectId" parameterType="int" resultType="Applicant">
        SELECT a.member_id      as memberId
                --//sunmi post_id => project_id로 오라클 칼럼명 변경함 --
                , a.project_id     as projectId
                , a.apply_part  as applyPart
                , a.rdate
                , b.name
                , b.nickname
                , b.company
                , b.position
                , b.img
                , b.memo
        FROM Applicant a, Member b
        WHERE a.project_id = #{projectId}
        AND a.member_id = b.member_id
        AND a.success = 1
    </select>

    <!--sunmi-->
    <insert id="insert" parameterType="Applicant">
        INSERT INTO applicant (member_id, project_id, apply_part, success, rdate, progress, score, upvote)
        VALUES (#{memberId}, #{projectId}, #{applyPart}, #{success}, sysdate, 0, #{score, jdbcType=NULL}, #{upvote, jdbcType=NULL})
    </insert>
</mapper>