<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
    <select id="findMemberById" parameterType="String" resultType="Member">
        SELECT *
        FROM Member
        WHERE member_id = #{memberId}
    </select>

    <!--프로퍼티는  dTO에서 선언된값 column은 SQL에서 날아온 값(as로 변경했으면 그 값) 두 값이 같아도 생략불가, 생략시 null-->
    <resultMap id="ResultMap" type="Member">
        <id property="member_id" column="member_id"/>
        <id property="password" column="password"/>
        <id property="name" column="name"/>
        <id property="nickname" column="nickname"/>
        <id property="point" column="point"/>
        <id property="company" column="company"/>
        <id property="memo" column="memo"/>
        <id property="img" column="img"/>
        <id property="rdate" column="rdate"/>
        <collection property="hashtagList" column="member_id" select="getSkillList"/>
    </resultMap>

    <select id="getMemberList" resultMap="ResultMap"> <!-- resultType="Member"은 위에 선언되었으므로 생략가능  -->
        SELECT member_id, password, name,nickname,point,company,memo,img,rdate
        FROM Member
        ORDER BY member_id desc
    </select>

    <select id="getSkillList" resultType="String">
        SELECT b.HASHTAG as hashtagList
        FROM Member a,
             (
                 select C.member_id, c.hashtag_id,d.HASHTAG
                 FROM skill C,HASHTAG D
                 WHERE C.hashtag_id =D.hashtag_id
             ) b
        where b.member_id = a.member_id
          and b.member_id = #{member_id}
        order by a.member_id desc
    </select>
</mapper>