<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PostDetailMapper">
    <select id="select" parameterType="int" resultType="PostDetail">
        SELECT *
        FROM project_detail
        Where project_id = #{projectId}
    </select>

    <!--sunmi-->
    <insert id="insert" parameterType="PostDetail">
        INSERT INTO project_detail (detail_id, project_id, marketing, plan, design, front, server, ref_link, process, view_cnt, pdate, subject, content)
        VALUES (detail_seq.NEXTVAL, #{projectId}, #{marketing}, #{plan}, #{design}, #{front}, #{server}, #{refLink}, 0, 0, #{pdate}, #{subject}, #{content})
    </insert>

    <!--sunmi-->
    <update id="update" parameterType="PostDetail">
        UPDATE project_detail
        SET
            ref_link = #{refLink},
            pdate = #{pdate},
            content = #{content},
            subject = #{subject},
            process = #{process},
            view_cnt = #{viewCnt}
        WHERE
            project_id = #{projectId}
    </update>
</mapper>