<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PostMapper">
    <select id="selectAll" resultType="Post">
        SELECT project_id       as projectId
            , title             as title
            , member_id         as memberId
            , marketing         as marketing
            , plan              as plan
            , design            as design
            , front             as front
            , server            as server
            , rdate             as rdate
            , img               as img
            , content           as content
        FROM Post
    </select>
    <select id="findHashTagList" resultType="String">
        SELECT hashtag
        FROM hashtag a, post_skilltag b
        WHERE a.hashtag_id = b.hashtag_id
        AND b.project_id = #{projectId}
    </select>
    <select id="select" parameterType="int" resultType="Post">
        SELECT *
        FROM Post
        Where project_id = #{projectId}
    </select>
    <!--sunmi-->
    <select id="findTagNoList" resultType="Integer">
        SELECT hashtag_id
        FROM post_skilltag a
        WHERE a.project_id = #{projectId}
    </select>
    <!--sunmi-->
    <insert id="insert" parameterType="Post">
        INSERT INTO Post (project_id, title, content, member_id, marketing, plan, design, front, server, rdate, img)
        VALUES (post_seq.NEXTVAL, #{title}, #{content}, #{memberId}, #{marketing, jdbcType=NULL}, #{plan, jdbcType=NULL}, #{design, jdbcType=NULL}, #{front, jdbcType=NULL}, #{server, jdbcType=NULL}, sysdate, #{img})
    </insert>
    <update id="update" parameterType="Post">
        UPDATE Post
        SET
        title = #{title},
        marketing = #{marketing},
        plan = #{plan},
        design = #{design},
        front = #{front},
        server = #{server},
        img = #{img},
        content = #{content}
        WHERE
        project_id = #{projectId}
    </update>

    <!--sunmi-->
    <select id="getLastPostId" resultType="Integer">
        SELECT post_seq.CURRVAL FROM dual
    </select>

    <!--naeun-->
    <select id="getUploadedPosts" parameterType="String"  resultType="Post">
        SELECT * FROM POST WHERE MEMBER_ID = #{memberId}
    </select>
    <!--naeun-->
    <select id="getJoinedPosts" parameterType="String"  resultType="Post">
        SELECT * FROM APPLICANT WHERE MEMBER_ID = #{memberId}
    </select>


</mapper>