/*-----------------------------------------------
|   Social Outline Buttons
-----------------------------------------------*/
.btn-outline-facebook{ @include button-outline-variant($facebook) }
.btn-outline-twitter { @include button-outline-variant($twitter) }
.btn-outline-google-plus { @include button-outline-variant($google-plus) }

/*-----------------------------------------------
|   Soft Buttons
-----------------------------------------------*/
@mixin btn-soft-variant($bg, $color) {
    color: $color;
    background-color: $bg;
  
    &[href] {
      @include hover-focus {
        text-decoration: none;
        color: $color;
        background-color: darken($bg, 10%);
      }
    }
  }

@each $color, $value in $theme-colors {
    .btn-soft-#{$color} {
      @if $color == 'secondary' {
        @include btn-soft-variant(theme-color-level($color, -10), theme-color-level($color, -0.8));
      } @else if $color == 'warning' {
        @include btn-soft-variant(theme-color-level($color, -10), theme-color-level($color, 2.5));
      } @else if $color == 'danger' {
        @include btn-soft-variant(theme-color-level($color, -10), theme-color-level($color, 4.5));
      } @else {
        @include btn-soft-variant(theme-color-level($color, -10), theme-color-level($color, 4.5));
      }
    }
  }